<form action="/posts" method="POST" class="form">
  <h3>Fill the form below to create a new post</h3>
  <div>
    <label for="title">Post title</label>
    <input type="text" name="title">
  </div>
  <div>
    <label for="url">Post link</label>
    <input type="text" name="url">
  </div>
  <input type="submit" value="Create post" class="btn-retro">
</form>
