<h3>Fill the form below to create a new post</h3>
<form action="/posts" method="POST">
  <label for="title">Post title</label>
  <input type="text" name="title">
  <br>
  <label for="url">Post link</label>
  <input type="text" name="url">
  <br>
  <input type="submit" value="Create post">
</form>
