/* FONT STYLES */


/* COMPONENTS IMPORT */
@import url("./components/container.css");
@import url("./components/card.css");
@import url("./components/button.css");
@import url("./components/form.css");


/* GLOBAL STYLES */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: rgb(237, 237, 237);
}

p, li, a {
  margin: 5px 0px;
}

ul {
  list-style: none;
}

ul > li {
  display: inline-block;
}

a {
  margin: 0px 5px;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgb(109, 109, 109);
}

.inline {
  display: inline;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
